@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@import url('leaflet/dist/leaflet.css');

a {
  padding: var(--lumo-space-s);
  color: var(--lumo-body-text-color);
}

a:hover {
  text-decoration: none;
}

a.active {
  background-color: var(--lumo-primary-color-10pct);
  color: var(--lumo-primary-text-color);
  text-decoration: none;
}

vaadin-button {
  border: 1px solid var(--lumo-shade-10pct);
}

vaadin-button[theme~='tertiary'] {
  border: none;
}

vaadin-login-form-wrapper {
  background: none;
}


html {
  --vaadin-input-field-border-width: 1px;
  --vaadin-input-field-border-color: var(--lumo-shade-10pct);
}

/*html {*/
/*    --lumo-border-radius: 6px;*/
/*    --lumo-primary-text-color: rgb(217, 8, 112);*/
/*    --lumo-primary-color-50pct: rgba(217, 8, 112, 0.5);*/
/*    --lumo-primary-color-10pct: rgba(217, 8, 112, 0.1);*/
/*    --lumo-primary-color: hsl(330, 93%, 44%);*/
/*}*/

/*[theme~="dark"] {*/
/*    --lumo-border-radius: 0px;*/
/*    --lumo-primary-text-color: rgb(20, 179, 147);*/
/*    --lumo-primary-color-50pct: rgba(20, 179, 147, 0.5);*/
/*    --lumo-primary-color-10pct: rgba(20, 179, 147, 0.1);*/
/*    --lumo-primary-color: hsl(168, 80%, 39%);*/
/*}*/