@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@import url('leaflet/dist/leaflet.css');

a {
  padding: var(--lumo-space-s);
  color: var(--lumo-text-color);
}

a:hover {
  text-decoration: none;
}

a.active {
  background-color: var(--lumo-primary-color-10pct);
  color: var(--lumo-primary-text-color);
  text-decoration: none;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0.4em calc(0.5em + var(--lumo-border-radius-s) / 4);
  color: var(--lumo-primary-text-color);
  background-color: var(--lumo-primary-color-10pct);
  border-radius: var(--lumo-border-radius-s);
  font-family: var(--lumo-font-family);
  font-size: var(--lumo-font-size-s);
  line-height: 1;
  font-weight: 500;
  text-transform: initial;
  letter-spacing: initial;
  min-width: calc(var(--lumo-line-height-xs) * 1em + 0.45em);
  flex-shrink: 0;
}

.success {
  color: var(--lumo-success-text-color);
  background-color: var(--lumo-success-color-10pct);
}

.error {
  color: var(--lumo-error-text-color);
  background-color: var(--lumo-error-color-10pct);
}
